* {
    margin: 0;
}

header {
    background-color: rgb(0, 255, 110, 1);
    text-align: center;
}

.buscador-conteiner {
    background-color: rgb(6, 53, 37);
    text-align: center;
    min-height: 40vh;
}

.buscador-conteiner p {
    font-size: 1.4rem;
    color: brown;
    padding-top: 0.5rem;
}

.formulario label {
    display: block;
    font-size: 1.5rem;
    color: aliceblue;
    margin-bottom: 1rem;
}

#cep {
    padding: 10px;
    width: 25%;
    border-radius: 5px;
    display: inline-block;
}

#envia {
    background-color: rgb(0, 102, 255);
    font-size: 1.5rem;
    vertical-align: bottom;
    border: none;
    padding: 5px;
    color: azure;
}

.cep-buscado p {
    color: rgb(158, 163, 167);
    font-size: 1.5rem;
    padding: 1rem 0;
}

h1 {
    color: rgb(167, 232, 235);
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    text-align: center;
}

h2 {
    color: aliceblue;
    text-align: center;
}

.logo {
    height: 110px;
    width: 110px;
}

.mostrandoDados {
    text-align: center;
    color: rgb(21, 129, 134);
    font-size: 1.5rem;
    border: 3px solid black;
    width: 40%;
    margin: 0 auto;
    background-color: #ccc;
}

.mostrandoDados p {
    display: inline-block;
    justify-content: left;
}

.descricao {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.descricao p {
    font-size: 1.3rem;
    padding: 1rem;
    color: black;
}

.descricao h1 {
    color: rgb(21, 129, 134);
}

/* CSS Página de Cadastro*/

.principal-conteiner {
    background-color: rgb(6, 53, 37);
    min-height: 60vh;
}

.principal-form {
    padding: 2.5rem 0;
    margin-left: 5rem;
}

.principal-form label {
    display: block;
    color: aliceblue;
    font-size: 1.3rem;
}

.principal-form input {
    display: block;
    padding: 10px;
    border-radius: 25px;
    width: 50%;
    margin-bottom: 1rem;
    border: 2px solid #abaeaf;
}